<div class="user-details">
  <h1> Sobre mim </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Linguagens</h2>
    <i class="devicon-java-plain "></i>
    <i class="devicon-dotnetcore-plain "></i>
    <i class="devicon-javascript-plain "></i>
    <i class="devicon-android-plain "></i>
    <i class="devicon-csharp-plain "></i>
    <p>Experiência em várias linguagens de programação
      com foco na criação de algoritmos eficientes.
      Habilidade em programação orientada a objetos e programação funcional.</p>
  </div>
  <div class="tech">
    <h2>Ferramentas</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-amazonwebservices-plain-wordmark"></i>
    <i class="devicon-azuredevops-plain"></i>
    <i class="devicon-oracle-original"></i>
    <i class="devicon-redis-plain"></i>
    <p>Experiência com controle de versão, colaboração em equipe
      e utilização dos serviços da AWS. Conhecimento em design de banco de dados,
      tanto relacional como em cache.</p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Meus diferenciais</h2>
    <i class="devicon-ruby-plain "></i>
    <i class="devicon-rails-plain "></i>
    <i class="devicon-trello-plain "></i>
    <i class="devicon-bitbucket-original "></i>
    <p>Com mais de 3 anos de experiencia, conheço as metodologias ágeis e as prático
      no meu dia a dia
      atendendo a demandas de alta complexidade. Ademais sou adepto ao Clean Code e utilizo os padrões MVC e Arquitetura REST.</p>
  </div>
</div>
<div class="user-details">
  <h1>O que eu faço?</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Aplicativos</h2>
    <img width="90" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/android/android-original.svg" />
    <img width="90" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
    <p>Experiência sólida em aplicativos android, tanto para dispositivos movéis quanto para smartwatch Samsung. No entanto desenvolvo aplicações em React Native.</p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Backend</h2>
    <img width="90"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" />
    <img width="90" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ruby/ruby-plain.svg" />
    <p>Atuei no desenvolvimento de soluções ERP em C# e .NET, migrando sistemas desktop para a web e criando endpoints para B2B e B2C. Também implementei testes unitários e integrei APIs como Twillio, Zenvia e Tecnospeed. Também crio APIs em Ruby.</p>
  </div>
  <div class="tech">
    <h2>Frontend</h2>
    <img width="90"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />
    <img width="90" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
    <p>Desenvolvi e mantive aplicações web utilizando React.js, HTML5 e CSS, focando na criação de interfaces interativas que melhoram a experiência do usuário.                                                            </p>
  </div>
</div>
